@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Example of double exception</title>
</head>
<body>
    <h1>Example of double exception</h1>
    @Html.Action("Exception")
</body>
</html>